
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: red;
        text-decoration: underline;
    }

    div {
        background-color: green;
    }

    .TituloRojo {
        color: red;
        background-color: red;

    }

    .divazul {
        background-color: blue !important ;
    }

    .DivCuadrado{
        height: 100px;
        width: 100%;
    }

    .TituloBloque3 {
        font-size:10px;
        color: #ffffff
    }

